<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Trive (http://www.trive.digital/) All rights reserved.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes">
    <router id="admin">
        <route id="productslider" frontName="productslider">
            <module name="Trive_Revo"/>
        </route>
    </router>
</config>