<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Trive (http://www.trive.digital/) All rights reserved.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config/etc/system.xsd">
    <system>
        <section id="productslider" translate="label" type="text" sortOrder="110" showInWebsite="1" showInStore="1" showInDefault="1">
            <label>Revo Product Slider</label>
            <tab>trive</tab>
            <resource>Trive_Revo::manage_sliders</resource>
            <group id="general" translate="label" type="text" sortOrder="120" showInWebsite="1" showInStore="1" showInDefault="1">
                <label>General</label>
                <field id="enable_productslider" translate="label comment" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Enable</label>
                    <comment>Enamble extension on frontend</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="slider_settings" translate="label" type="text" sortOrder="130" showInWebsite="1" showInStore="1" showInDefault="1">
                <label>Default Slider Values</label>
                <field id="products_number" translate="label" type="text" sortOrder="1" showInWebsite="1" showInStore="1" showInDefault="1">
                     <label>Products number</label>
                     <comment>Number of products in slider</comment>
                 </field>
                <field id="display_title" translate="label" type="select" sortOrder="5" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Display title</label>
                    <comment>Display title on frontend</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_price" translate="label" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Display price</label>
                    <comment>Display price on frontend</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_cart" translate="label" type="select" sortOrder="15" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Display Cart</label>
                    <comment>Display add to cart button on frontend</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_wishlist" translate="label" type="select" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Display Wishlist</label>
                    <comment>Display add to wish list on frontend</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_compare" translate="label" type="select" sortOrder="25" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Display Compare</label>
                    <comment>Display add to compare on frontend</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_swatches" translate="label" type="select" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Enable Color Swatches</label>
                    <comment>Display color swatches for each product in slider</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_ajaxcart" translate="label" type="select" sortOrder="35" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Enable Ajax Add to cart</label>
                    <comment>Enable Ajax Add to cart for each product in slider</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="grid" translate="label" type="select" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Items in grid</label>
                    <comment>Display items in the grid, without slider </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="exclude_from_cart" translate="label" type="select" sortOrder="45" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Exclude from cart</label>
                    <comment>Don't display sliders on cart page</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="exclude_from_checkout" translate="label" type="select" sortOrder="50" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Exclude from checkout</label>
                    <comment>Don't display sliders on checkout</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="navigation" translate="label" type="select" sortOrder="55" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Navigation</label>
                    <comment>Enable Navigation (dots below slider)</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="infinite" translate="label comment" type="select" sortOrder="60" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Infinite</label>
                    <comment>Infinite loop sliding</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="slides_to_show" translate="label comment" type="text" sortOrder="65" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Slides to show</label>
                    <comment>Number of slides to show</comment>
                </field>
                <field id="slides_to_scroll" translate="label comment" type="text" sortOrder="70" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Slides to scroll</label>
                    <comment>Number of slides to scroll</comment>
                </field>
                <field id="speed" translate="label" type="text" sortOrder="75" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Speed</label>
                </field>
                <field id="autoplay" translate="label" type="select" sortOrder="80" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Autoplay</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="autoplay_speed" translate="label" type="text" sortOrder="85" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Autoplay speed</label>
                </field>
                <field id="rtl" translate="label" type="select" sortOrder="90" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Right to left</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="breakpoint_large" translate="label" type="text" sortOrder="100" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Breakpoint large</label>
                </field>
                <field id="large_slides_to_show" translate="label" type="text" sortOrder="110" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Slides to show on large</label>
                </field>
                <field id="large_slides_to_scroll" translate="label" type="text" sortOrder="120" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Slides to scroll on large</label>
                </field>
                <field id="breakpoint_medium" translate="label" type="text" sortOrder="130" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Breakpoint medium</label>
                </field>
                <field id="medium_slides_to_show" translate="label" type="text" sortOrder="140" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Slides to show on medium</label>
                </field>
                <field id="medium_slides_to_scroll" translate="label" type="text" sortOrder="150" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Slides to scroll on medium</label>
                </field>
                <field id="breakpoint_small" translate="label" type="text" sortOrder="160" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Breakpoint small</label>
                </field>
                <field id="small_slides_to_show" translate="label" type="text" sortOrder="170" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Slides to show on small</label>
                </field>
                <field id="small_slides_to_scroll" translate="label" type="text" sortOrder="180" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Slides to scroll on small</label>
                </field>
            </group>
            <group id="implementation" translate="label" type="text" sortOrder="140" showInWebsite="1" showInStore="1" showInDefault="1">
                <frontend_model>Trive\Revo\Block\Adminhtml\System\Implementation</frontend_model>
            </group>
        </section>
    </system>
</config>